/* ========== FONTS ==========

font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;

   ========= COLORS ==========

#0D1B2A
#1B263B
#415A77
#778DA9
#E0E1DD

*/


/* ========== General styles  ========= */

body {
   font-family: 'Quattrocento Sans', sans-serif;
   overflow-x: hidden;
}

h1 {
   font-weight: 700;
   letter-spacing: 2px;
}

h1, h2, h3 {
   font-family: 'Oswald', sans-serif;
}

header h1 {
   color: #EEE;
   text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h2 {
   font-size: 200%;
   color: #1B263B;
}

section {
   padding-top: 4em;
   padding-bottom: 8.5em;
}

button {
   background: #778DA9;
   border: none;
   padding: 10px 30px 10px 30px;
   border-radius: 5px;
   color: #E0E1DD;
}

button:hover {
   background: #415A77;
   border: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.text-box {
   width: 500px;
   color: #E0E1DD;
   font-size: 150%;
   margin-top: 2em;
   padding: 1em;
   padding-bottom: 0.1em;
   background: rgba(0, 0, 0, 0.5);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

main h1 {
   text-align: center;
   /*margin-top: 1.5em;*/
   color: #0D1B2A;
}

.header-decoration-sqaure {
   width: 10px;
   height: 45px;
   margin-right: .3em;
}

.header-box {
   position: absolute;
   top: 20%;
   left: 10%;
}

.header-box h1 {
   font-size: 450%;
   color:
}

/* ========== Page Header + nav  ========== */

header {
   position: relative;
   width: 100%;
   height: 500px;
}

html#home header {
   position: relative;
   height:100vh;
   width: 100%;
   overflow: hidden;
}

nav.main-nav {
   background: #415A77;
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 999;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
   font-size: 110%;
}

nav.main-nav ul {
   float: right;
   margin: 0;
   padding: 0;
   list-style-type: none;
   overflow: hidden;
}

nav.main-nav ul li {
   display: inline-block;
   padding: 14px 16px;
   margin: 0;
   padding: .5em 3em .5em 0;
}

nav img {
   position: absolute;
   left: 1%;
   top: 10%;
   height: 32px;
   width: auto;
}

li a {
   text-decoration: none;
   color: #E0E1DD;
}

#videoBlock {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

#videoMessage {
   position: absolute;
   left: 10%;
   top: 15%;
}

#main-logo {
   width: 750px;
   height: auto;
}

#videoMessage .text-box ul {
   list-style-image: url('../media/arrow.png');
}

#videoMessage .text-box li {
   margin-bottom: 1em;
}

#videoMessage .text-box li span {
   padding-left: 10px;
}

video#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%); ;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

main h1 {
   text-align: center;
   /*margin-top: 1.5em;*/
   color: #0D1B2A;
}

.header-decoration-sqaure {
   width: 10px;
   height: 45px;
   margin-right: .3em;
}

/* ======== nasz a oferta ========= */

#oferty .row {
   margin-top: 12em;
}

.oferta-box {
   background: #EEE;
   width: 250px;
   height: 290px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 40%;
   border-radius: 10px;
   box-shadow: 0 5px 7px 1px rgba(0, 0, 0, 0.2);
   position: relative;
   text-align: center;
}

.oferta-box img {
   width: 200px;
   height: auto;
   border-radius: 999px;
   position: absolute;
   left: 50%;
   top: -25%;
   transform: translate(-50%);
   box-shadow: 0 -3px 7px -1px rgba(0, 0, 0, .3);
}

.oferta-box h2 {
   text-align: center;
   color: #415A77;
}

.oferta-box button {
   margin: 0 auto;
}

.oferta-box p {
   text-align: left;
}

/* ========= O nas ========= */

section#o-nas {
   background: url('../media/onas_bg.png') no-repeat;
   background-size: cover;
   height: 550px;
   position: relative;
}

#o-nas h1 {
   color: #E0E1DD;

}

#o-nas .text-box {
   width: 500px;
   position: absolute;
   top: 25%;
   left: 10%;
}

#o-nas button {
   font-size: 18px;
}

/* ========= Footer ========= */

footer {
   height: 50px;
   background: #415A77;
   width: 100%;
   color: #E0E1DD;
   position: relative;
}

span.copy {
   position: absolute;
   left: 7%;
   top: 50%;
   transform: translate(0%, -50%);
}

nav.footer-nav {
   position: absolute;
   right: 7%;
   top: 50%;
   transform: translate(0%, -50%);
}

footer a {
   text-decoration: none;
   color: #E0E1DD;
   padding: 0 1em;
   border-left: 1px solid #E0E1DD;
}

/* ========== PODSTRONA OFERTA ========= */

html#oferta header {
   background: url("../media/folia.png") no-repeat;
   background-size: cover;
}

section#category-selector {
   margin-top: 4em;
   margin-bottom: 4em;
}

section#category-selector .category {
   text-align: center;
   background-color: #eee;
   border-radius: 10px;
   padding-top: 2em;
   padding-bottom: 1em;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

section#category-selector .category img {
   border-radius: 999px;
   width: 210px;
   height: auto;
   box-shadow: 0px 10px 10px -5px rgba(0,0,0,.4);
   transition: all ease-in-out 200ms;
   cursor: pointer;
}

section#category-selector .category img:hover {
   box-shadow: 0px 30px 20px -20px rgba(0,0,0,.2);
   transform: translate(0px, -10px) scale(1.1)
}

html#oferta .row{
   margin-bottom: 3em;
}

section#category-selector h2 {
   font-size: 220%;
   margin-top: .5em;
   background: #eee;
   border-radius: 10px;
   padding-top: .2em;
   padding-bottom: .2em;
   text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

html#oferta main {
   padding: 5em 0;
}

/* ========== PODSTRONA PRODUKTOW ========= */

div.product-box {
   background: #eee;
   border-radius: 10px;
   height: 200px;
   padding: 0;
   overflow: hidden;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
   margin-bottom: 4em;
}

div.product-img {
   width: 30%;
   height: 100%;
   float: left;
   background: url("../media/produkt_folia.jpg") no-repeat;
   background-size: cover;

}

div.product-text {
   padding: 1.5em;
   width: 63%;
   float: right;
}

div.product-text p {
   width: 80%;
   margin-bottom: .8em;
}

div.product-text button {
   float: right;
}
/* ========== MEDIA QUERIES ========= */

#temp {
   height: 300px;
}
